@model IEnumerable<CSU_CRM_WEB.Models.View_Lista_Contactos_Pendentes>

@using (Html.BeginForm(Html.BeginForm("Lista_Empresas_Pendentes", "View_Lista_Contactos_Pendentes",
    new { empresa = ViewBag.empresabd }, FormMethod.Post, new { encType = "multipart/form-data" })))
{
    int i = 0;
    @Html.AntiForgeryToken()

<p>
    <div class="row">
        @*<div class="col-md-3">
            <button class="btn btn-default"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Enviar Email</button>
        </div>*@
        <div class="col-md-3">
            <button class="btn btn-default"> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Enviar Email Cobranças</button>
        </div>

        <div class="col-md-3">
            <input type="file" name="file1" />
            <input type="file" name="file2" />
        </div>

    </div>
    
</p>

<table class="table">
    <tr>
        <th>
            Sel.
        </th>
        <th>@Html.DisplayNameFor(model => model.Cliente)</th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            Morada
        </th>       
        
        
        <th>
            Telefone
        </th>
       
        
        
        <th>
            Contacto da Empresa
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        

        <th>
            Valor Pendente
        </th>
        <th>
             Valor Total
        </th>
        
    </tr>

@foreach (var item in Model)
{
    <tr>
        
        <td>
            @Html.HiddenFor(x => item.Cliente)
            @Html.HiddenFor(x => item.Nome)
            @*@Html.CheckBoxFor(c => c.IsMarried, new { id = "CheckBoxFor", @class = "checkbox" })*@
            
            @*@Html.CheckBox(item.Cliente,item.CDU_EnviaCobranca.Value)*@
            @*@Html.CheckBox("CDU_EnviaCobranca", new { value = item.Cliente })*@

            <input name="CDU_EnviaCobranca" type="checkbox" value="@item.Cliente" />

            @*@Html.CheckBoxFor(modelItem => item.CDU_EnviaCobranca.Value)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fac_Mor)
        </td>
        
        
        
        <td>
            @Html.DisplayFor(modelItem => item.Fac_Tel)
        </td>
        
        
        
        <td>
            @Html.DisplayFor(modelItem => item.PrimeiroNome) @Html.DisplayFor(modelItem => item.UltimoNome)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        

        <td>
            @item.ValorPendente.Value.ToString("N", System.Globalization.CultureInfo.CreateSpecificCulture("pt-PT"))
        </td>
        <td>
            @item.ValorTotal.Value.ToString("N", System.Globalization.CultureInfo.CreateSpecificCulture("pt-PT"))
        </td>
        
    </tr>
}

</table>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
