@model CSU_CRM_WEB.Models.View_Lista_Contactos_Pendentes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>View_Lista_Contactos_Pendentes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fac_Mor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fac_Mor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fac_Local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fac_Local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumContrib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumContrib)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fac_Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fac_Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moeda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moeda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CDU_ContaRec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CDU_ContaRec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CDU_EnviaCobranca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CDU_EnviaCobranca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimeiroNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimeiroNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimoNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAssist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAssist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPendente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPendente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
