@model CSU_CRM_WEB.Models.Empresas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Empresas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodEmpresaPri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodEmpresaPri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoTipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conexao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conexao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaPrimavera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaPrimavera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseDefaultCredentials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseDefaultCredentials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credentials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credentials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Port)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Port)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnableSsl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnableSsl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Host)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Host)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoradaEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoradaEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalidadeEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalidadeEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefoneEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefoneEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NuitEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NuitEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
